<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h3 class="text-center">Sobre aquesta xarxa</h3>
    <hr>
    <h3>Què és Pollos?</h3>
    <p>
      POLLOS és una xarxa social creada per un pollo per els pollos. És gratis i completament open source.
    </p>
    <br>
    <h3>Perquè?</h3>
    <p>
      Primer de tot perquè em surt dels ous. Però sobretot per ús i "disfrute" dels pollos.
    </p>
    <br>
    <h3>Com?</h3>
    <p>
      Aquesta aplicació està feta amb Ruby on Rails. El Frontend és el Bootstrap de Twitter. La base de dades pel desenvolupament és SQLite i Postresql per producció.
      Si no has entés res del que acabo de dir, és perquè ets en Sevilla.
    </p>
    <br>
    <a href="http://0.0.0.0:3000/users/sign_up" class="btn btn-warning">
      <%= fa_icon 'star' %> Inscriu-te
    </a>
    <a href="http://0.0.0.0:3000/users/sign_in" class="btn btn-primary">
      <%= fa_icon 'share' %> Inici Sessió
    </a>
    </a>
  </div>
</div>