<div class="row">
  <div id="newsfeed" class="col-lg-6">
    <h2>Xarxa Social Antisocial</h2>
    <hr>
    <img src="/images/portada.jpg" style="width:500px;height:400px;">
  </div>
  <div id="intro" class="col-lg-6">
    <h1>Pollos</h1>
    <p>Pollos és una xarxa social creada per un pollo pels altres pollos utilitzant <%= fa_icon 'diamond' %> Ruby on Rails.</p>
    <hr>
    <a href="http://0.0.0.0:3000/users/sign_up" class="btn btn-warning">
      <%= fa_icon 'star' %> Inscriu-te
    </a>
    <a href="http://0.0.0.0:3000/users/sign_in" class="btn btn-primary">
      <%= fa_icon 'share' %> Inici Sessió
    </a>
  </div>
</div>