<p>Hola <%= @resource.email %>!</p>

<p>Algú ha demanat un link per canviar el teu password. Per fer-ho clicka al següent link.</p>

<p><%= link_to 'Canvia el password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no has demanat el canvi de password, segurament algun fill de puta t'està intentat putejar.</p>
<p>El teu password no canviarà a menys que toquis el boto d'adalt. Així que si no has estat tu, no facis res.</p>
